*.duck*
*.parquet
live_data/
db_exported.zip
data_4900_5000.jld2
data.jld2
PythonVersion.csv
RanksComputed1.csv
RanksComputed2.csv
RipVSGiotto.csv
taudist.csv
temp_thick.csv
temp.csv
thickness_metrics.csv
.vscode/settings.json
data/taudist_00_00_001.csv
data/taudist_00_20_008.csv
db_exported/load.sql
db_exported/schema.sql
src/Structs.jl
src/Structs.jl
data/db_exported/schema.sql
.gitignore
data/db_exported/load.sql
